<h2>当前App版本</h2>
<div class="well old-version">
  <form role="form" class="upload-form form-horizontal">

    <div class="form-group">
      <label for="store-version-code" class="col-sm-4 control-label">版本序号</label>

      <div class="col-sm-8">
        <p class="form-control-static">{{lastApp.version_code}}</p>
      </div>
    </div>

    <div class="form-group">
      <label for="summary" class="col-sm-4 control-label">概要</label>

      <div class="col-sm-7">
        <textarea class="form-control-static form-control version-summary" readonly>{{lastApp.summary}}</textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label" for="store-url">升级包路径</label>

      <div class="col-sm-7 long-url">
        <p class="form-control-static">{{lastApp.url}}</p>
      </div>
    </div>

    <div class="form-group">
      <label for="store-size" class="col-sm-4 control-label">升级包大小</label>

      <div class="col-sm-8">
        <p class="form-control-static">{{lastApp.file_size}}</p>
      </div>
    </div>

    <div class="form-group">
      <label for="store-version" class="col-sm-4 control-label">升级包版本</label>

      <div class="col-sm-8">
        <p class="form-control-static">{{lastApp.version_name}}</p>
      </div>
    </div>

  </form>
</div>
<h2>上传新版本</h2>
<form role="form" class="upload-form form-horizontal" name="newAppform">
  <div class="form-group">
    <label for="store-version-code" class="col-sm-4 control-label">版本序号</label>

    <div class="col-sm-8">
      <input id="store-version-code" class="form-control" type="number" ng-model="app.version_code" ng-bk-focus required min="{{lastApp.version_code + 1}}"/>
    </div>
  </div>

  <div class="form-group">
    <label for="summary" class="col-sm-4 control-label">概要</label>

    <div class="col-sm-8">
      <textarea id="summary" class="form-control version-summary" ng-model="app.summary" placeholder="版本介绍。。。" required/>
    </div>
  </div>

  <div class="form-group">
    <label for="store-version" class="col-sm-4 control-label">升级包版本</label>

    <div class="col-sm-8">
      <input id="store-version" class="form-control" ng-model="app.version_name" placeholder="{{lastApp.version_name}}-snapshot" required/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label" for="store-url">升级包路径</label>

    <div class="col-sm-8">
      <input type="file" id="store-url" ng-model="app.url" fileupload="uploadfile" required/>
      <span class="help-block">上传新的升级包文件到服务器</span>
    </div>
  </div>

  <div class="form-group">
    <label for="store-size" class="col-sm-4 control-label">升级包大小</label>

    <div class="col-sm-8">
      <p class="form-control-static">{{app.file_size}}</p>
    </div>
  </div>

  <div class="form-group button-group">
    <div class="col-sm-offset-3 col-sm-4">
      <button type="submit" class="btn btn-default" ng-disabled="newAppform.$invalid" ng-click="doUpload(uploadfile)">更新</button>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-info" ng-click="cleanFields()">取消</button>
    </div>
  </div>
</form>