<div class="main-frame">
  <h2>酷乐宝后台管理</h2>

  <h3>{{kg.adminUser.name}}</h3>

  <div class="row modules-list-container">
    <ul class="nav nav-tabs modules-list actions">
      <li class="action" ng-class="{active : isSelected('school')}">
        <a ng-href="#/main/school" class="btn btn-danger">
          学校管理
        </a>
      </li>
      <li class="action" ng-class="{active : isSelected('app')}">
        <a ng-href="#/main/app" class="btn btn-primary">
          客户端版本管理
        </a>
      </li>

    </ul>

  </div>
  <div class="module-view" ui-view></div>
</div>