<div class="main-frame">
  <div class="header">
    <div class="product-logo-container">
      <div class="product-logo"></div>
      <div class="rainbow-logo"></div>
    </div>
    <div class="title">
      <h2 class="content">酷乐宝后台管理</h2>

      <div class="btn-group">
        <button type="button" class="btn btn-warning dropdown-toggle admin-user" data-toggle="dropdown">
          {{adminUser.name}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a class="logout-link" href="/logout">退出登陆</a></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="row modules-list-container">
    <ul class="nav nav-tabs modules-list actions">
      <li class="action" ng-class="{active : isSelected('school')}">
        <a ng-href="#/main/school" class="btn btn-danger">
          学校管理
        </a>
      </li>
      <li class="action" ng-class="{active : isSelected('app')}">
        <a ng-href="#/main/app" class="btn btn-primary">
          客户端版本管理
        </a>
      </li>

    </ul>

  </div>
  <div class="module-view" ui-view></div>
</div>