<h2>所有学校信息</h2>
<div class="well schools-search-panel">
  <span>检索：</span>
  <input ng-model="searchText"/>

  <div class="btn-group">
    <button type="submit" class="btn btn-primary" ng-disabled="loading" ng-click="addSchool()">增加学校</button>
    <button type="submit" class="btn btn-success" ng-disabled="loading" ng-click="addClass()">增加班级</button>
  </div>
</div>
<div class="loading" ng-show="loading"/>
<table class="table table-hover table-condensed schools-list">
  <thead>
  <tr class="row">
    <th class=".col-xs-1">班级编号</th>
    <th class=".col-xs-3">学校名字</th>
    <th class=".col-xs-3">学校编号</th>
    <th class=".col-xs-4">班级名称</th>
    <th class=".col-xs-3">管理员</th>
    <th class=".col-xs-2">操作</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="class in classes | filter: searchText" class="row">
    <td class=".col-xs-1">{{class.class_id}}</td>
    <td class=".col-xs-2">{{class.school.name}}</td>
    <td class=".col-xs-2">{{class.school.school_id}}</td>
    <td class=".col-xs-4">{{class.name}}</td>
    <td class=".col-xs-3">{{class.school.manager.name}}</td>

    <td class=".col-xs-2">
      <button class="btn btn-xs btn-danger" ng-confirm-msg="你确定要删除吗?"
              ng-confirm-click="delete(class)">删除
      </button>
      <button class="btn btn-xs btn-warning" ng-click="edit(class)">编辑
      </button>
    </td>
  </tr>
  </tbody>
</table>

