logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.DS_Store
node_modules/
bower_components/
app/assets/scripts/**/*.js
test/spec/**/*.js
app/assets/scripts/*.js
karma.conf.js
app/assets/scripts/controllers/admin/*.js
app/assets/scripts/controllers/op/*.js
app/assets/scripts/controllers/admin/KindergartenManageController.js

