language: scala
addons:
  firefox: "17.0"
env:
  - PLAY_VERSION=2.2.1
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16"
  - wget http://downloads.typesafe.com/play/${PLAY_VERSION}/play-${PLAY_VERSION}.zip
  - unzip -q play-${PLAY_VERSION}.zip
  - npm install karma
  - npm install less
script:
  - play-${PLAY_VERSION}/play test
  - karma start --single-run --browsers PhantomJS karma.conf.js
