<div class="panel-body">
  <form class="form-horizontal row" role="form" name="newAdultForm">
    <div class="form-group">
      <div class="portrait-container col-lg-offset-7 col-sm-2"><img class="portrait" ng-src="{{parent.portrait}}"
                                                                    alt="照片"/></div>
    </div>
    <div class="form-group">
      <label for="parent-phone" class="col-sm-2 control-label">电话号码</label>

      <div class="col-sm-3">
        <input id="parent-phone" type="text" ng-model="parent.phone"
               ui-mask="{{'999-9999-9999'}}"
               class="editing-field form-control" ng-bk-focus required/>
      </div>
      <label for="parent-name" class="col-sm-2 control-label">家长姓名</label>

      <div class="col-sm-3">
        <input id="parent-name" ng-model="parent.name"
               class="editing-field form-control" required/>
      </div>
    </div>
    <div class="form-group">
      <label for="parent-gender" class="col-sm-2 control-label">性别</label>

      <div class="col-sm-3">
        <div class="btn-group">
          <button type="button" class="btn select-button" ng-model="parent.gender" btn-radio="1">女</button>
          <button type="button" class="btn select-button" ng-model="parent.gender" btn-radio="0">男</button>
        </div>
      </div>
      <label for="parent-company" class="col-sm-2 control-label">公司</label>

      <div class="col-sm-3">
        <input id="parent-company" ng-model="parent.company"
               class="editing-field form-control"/>
      </div>


    </div>
    <div class="form-group">
      <label for="parent-pic" class="col-sm-2 control-label">上传头像</label>

      <div class="col-sm-3">
        <input type="file" id="parent-pic" ng-model="parent.pic" fileupload="parentPic"/>
        <span class="help-block">上传头像到服务器</span>
      </div>

      <label for="parent-birthday" class="col-sm-2 control-label">生日</label>

      <div class="col-sm-4">
        <div class="control-group input-append">
          <input type="text" ng-model="parent.birthday" data-date="en" data-date-format="yyyy-mm-dd" bs-datepicker
                 class="form-control datepicker-input">
          <button type="button" class="btn datepicker-button" data-toggle="datepicker"><i
            class="glyphicon glyphicon-calendar"></i></button>
        </div>
      </div>
    </div>
    <a class="btn btn-primary pull-right adding-button" ng-disabled="newAdultForm.$invalid"
       ng-click="nextPage(parent, parentPic)">编辑宝宝信息</a>
    <a class="btn btn-default pull-right adding-button"
       ng-click="cancelCreating()">取消</a>
  </form>
</div>

