<div class="panel-body">
  <form class="form-horizontal row" role="form" name="newAdultForm">

    <div class="col-sm-6">
      <div class="form-group">
        <label for="parent-phone" class="col-sm-4 control-label">电话号码</label>

        <div class="col-sm-8">
          <input id="parent-phone" type="text" ng-model="parent.phone"
                 ui-mask="{{'999-9999-9999'}}"
                 class="editing-field form-control" ng-bk-focus required/>
        </div>
      </div>

      <div class="form-group">
        <label for="parent-name" class="col-sm-4 control-label">家长姓名</label>

        <div class="col-sm-8">
          <input id="parent-name" ng-model="parent.name"
                 class="editing-field form-control" required/>
        </div>
      </div>
      <div class="form-group">
        <label for="parent-card" class="col-sm-4 control-label">卡号</label>

        <div class="col-sm-8">
          <input id="parent-card" ng-model="parent.card"
                 class="editing-field form-control" required ui-mask="{{'99999-99999'}}"/>
          <span class="error-field" ng-show="isDuplicated(parent.card)">与现有卡号重复！</span>
        </div>
      </div>
      <div class="form-group">
        <label for="parent-gender" class="col-sm-4 control-label">性别</label>

        <div class="col-sm-8">
          <div class="btn-group">
            <button type="button" class="btn select-button" ng-model="parent.gender" btn-radio="1">女</button>
            <button type="button" class="btn select-button" ng-model="parent.gender" btn-radio="0">男</button>
          </div>
        </div>
      </div>
      <div class="form-group">

        <label for="parent-birthday" class="col-sm-4 control-label">生日</label>

        <div class="col-sm-8">
          <div class="control-group input-append">
            <input type="text" ng-model="parent.birthday" data-date="en" data-date-format="yyyy-mm-dd"
                   date-type="string" bs-datepicker
                   class="form-control datepicker-input">
            <button type="button" class="btn datepicker-button" data-toggle="datepicker"><i
              class="glyphicon glyphicon-calendar"></i></button>
          </div>
        </div>
      </div>

    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <div class="portrait-container">
          <img class="portrait" ng-src="{{parent.portrait}}"
               alt="照片"/>
        </div>
      </div>

      <div class="form-group">
        <label for="parent-pic" class="col-sm-4 control-label">上传头像</label>

        <div class="col-sm-8">
          <input type="file" id="parent-pic" fileupload="pic"/>
          <button class="btn btn-success btn-xs" ng-disabled="pic === undefined || pic.size > 200000"
                  ng-click="uploadPic(parent, pic)">上传头像
          </button>
          <span ng-class="{error : pic.size > 200000}" class="help-block">图片大小请不要超过200k</span>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-group">
        <label for="parent-company" class="col-sm-2 control-label">公司</label>

        <div class="col-sm-8">
          <input id="parent-company" ng-model="parent.company"
                 class="editing-field form-control"/>
        </div>
      </div>
    </div>
    <div class="col-sm-offset-7 col-sm-4">
      <div class="form-group">
        <a class="btn btn-primary pull-right adding-button"
           ng-disabled="newAdultForm.$invalid || isDuplicated(parent.card)"
           ng-click="nextPage()">编辑宝宝信息</a>
        <a class="btn btn-default pull-right adding-button"
           ng-click="cancelCreating()">取消</a>
      </div>
    </div>
  </form>
</div>

