<div class="panel-body">
  <form class="form-horizontal row" role="form" name="newChildForm">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="child-name" class="col-sm-4 control-label">宝宝姓名</label>

        <div class="col-sm-8">
          <input id="child-name" type="text" ng-model="parent.child.name"
                 class="editing-field form-control" ng-bk-focus required/>
        </div>
      </div>
      <div class="form-group">
        <label for="child-nick" class="col-sm-4 control-label">小名</label>

        <div class="col-sm-8">
          <input id="child-nick" ng-model="parent.child.nick"
                 class="editing-field form-control" required/>
        </div>
      </div>
      <div class="form-group">
        <label for="child-gender" class="col-sm-4 control-label">性别</label>

        <div class="col-sm-8">
          <div class="btn-group">
            <button type="button" class="btn gender select-button" ng-model="parent.child.gender" btn-radio="1">女
            </button>
            <button type="button" class="btn gender select-button" ng-model="parent.child.gender" btn-radio="0">男
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="child-birthday" class="col-sm-4 control-label">生日</label>

        <div class="col-sm-8">
          <div class="control-group input-append">
            <input type="text" ng-model="parent.child.birthday" data-date="en" data-date-format="yyyy-mm-dd"
                   bs-datepicker
                   class="form-control datepicker-input">
            <button type="button" class="btn datepicker-button" data-toggle="datepicker"><i
              class="glyphicon glyphicon-calendar"></i></button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="child-parent" class="col-sm-4 control-label">家长</label>

        <div class="col-sm-6">
          <p class="form-control-static">{{parent.name}}</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <div class="portrait-container">
          <img class="portrait" ng-src="{{parent.child.portrait}}"
               alt="宝宝照片"/></div>
      </div>
      <div class="form-group">
        <label for="child-pic" class="col-sm-4 control-label">上传头像</label>

        <div class="col-sm-8">
          <input type="file" id="child-pic" ng-model="parent.child.pic" fileupload="childPic"/>
          <span class="help-block">上传头像到服务器</span>
        </div>

      </div>
    </div>
    <div>
      <div class="form-group col-sm-12">
        <label for="child-parent-relationship" class="col-sm-2 control-label">与宝宝关系</label>


        <div class="col-sm-8">
          <div class="btn-group">
            <button type="button" class="btn select-button" ng-model="parent.relationship" btn-radio="'妈妈'">妈妈</button>
            <button type="button" class="btn select-button" ng-model="parent.relationship" btn-radio="'爸爸'">爸爸</button>
            <button type="button" class="btn select-button" ng-model="parent.relationship" btn-radio="'奶奶'">奶奶</button>
            <button type="button" class="btn select-button" ng-model="parent.relationship" btn-radio="'爷爷'">爷爷</button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="form-group col-sm-6">
        <label for="child-class" class="col-sm-4 control-label">班级</label>

        <div class="col-sm-8">
          <select class="form-control" ng-model="parent.child.class_id"
                  ng-options="value.id as value.name for (key, value) in kindergarten.classes"
                  data-style="btn-primary"></select>
        </div>
      </div>
      <div class="form-group col-sm-6">
        <label for="child-school" class="col-sm-4 control-label">学校</label>

        <div class="col-sm-8">
          <p class="form-control-static">{{parent.kindergarten.name}}</p>
        </div>


      </div>
    </div>

    <div>
      <div class="form-group col-sm-12">
        <label for="child-address" class="col-sm-2 control-label">家庭住址</label>

        <div class="col-sm-8">
          <input id="child-address" ng-model="parent.child.address"
                 class="editing-field form-control"/>
        </div>
      </div>
    </div>
    <div class="col-sm-offset-6 col-sm-6">
      <div class="form-group">
        <a class="btn btn-primary pull-right adding-button" ng-disabled="newChildForm.$invalid"
           ng-click="save(parent, childPic)">保存</a>
        <a class="btn btn-warning pull-right adding-button" ng-disabled="newChildForm.$invalid" data-toggle="modal"
           data-target="#myModal" ng-click="preview(parent, childPic)">预览</a>
        <a class="btn btn-info pull-right adding-button"
           ng-href="#/kindergarten/{{kindergarten.school_id}}/parents/edit_adult">返回</a>
        <a class="btn btn-default pull-right adding-button"
           ng-click="cancelCreating()">取消</a>
      </div>
    </div>




  </form>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog creating-summary">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">新增信息预览</h4>
      </div>
      <div class="modal-body">
        <div class="well">
          <form class="form-horizontal row" role="form">
            <h3 class="summary-title">家长信息</h3>

            <div class="form-group">
              <div class="portrait-container col-lg-offset-7 col-sm-2"><img class="portrait-preview"
                                                                            ng-src="{{parent.portrait}}"
                                                                            alt="照片"/></div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">电话号码</label>

              <div class="col-sm-3">
                <p class="form-control-static">{{parent.phone}}</p>
              </div>
              <label class="col-sm-2 control-label">家长姓名</label>

              <div class="col-sm-3">
                <p class="form-control-static">{{parent.name}}</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">性别</label>

              <div class="col-sm-3">
                <p class="form-control-static">{{parent.gender == 0 ? '男': '女'}}</p>
              </div>
              <label class="col-sm-2 control-label">公司</label>

              <div class="col-sm-3">
                <p class="form-control-static">{{parent.company}}</p>
              </div>
            </div>
            <div class="form-group">

              <label class="col-sm-2 control-label">生日</label>

              <div class="col-sm-4">
                <div class="control-group input-append">
                  <p class="form-control-static">{{parent.birthday | date: 'yyyy年MM月dd日'}}</p>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="well">
          <form class="form-horizontal row" role="form">
            <h3 class="summary-title">宝宝信息</h3>

            <div class="form-group">
              <div class="portrait-container col-lg-offset-7 col-sm-2"><img class="portrait-preview"
                                                                            ng-src="{{parent.child.portrait}}"
                                                                            alt="照片"/></div>
            </div>
            <div class="form-group">
              <label for="child-name" class="col-sm-2 control-label">宝宝姓名</label>

              <div class="col-sm-3">
                <p class="form-control-static">{{parent.child.name}}</p>
              </div>
              <label for="child-nick" class="col-sm-2 control-label">小名</label>

              <div class="col-sm-3">
                <p class="form-control-static">{{parent.child.nick}}</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">性别</label>

              <div class="col-sm-3">
                <p class="form-control-static">{{parent.child.gender == 0 ? '男孩': '女孩'}}</p>
              </div>
              <label class="col-sm-2 control-label">生日</label>

              <div class="col-sm-4">
                <div class="control-group input-append">
                  <p class="form-control-static">{{parent.child.birthday | date: 'yyyy年MM月dd日'}}</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">家长</label>

              <div class="col-sm-7">
                <p class="form-control-static">{{parent.name}}是{{parent.child.gender == 0 ? '他':
                  '她'}}的{{parent.relationship}}</p>
              </div>

            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">班级</label>

              <div class="col-sm-3">
                <p class="form-control-static">{{getClassName(parent.child.class_id).name}}</p>
              </div>
              <label class="col-sm-2 control-label">学校</label>

              <div class="col-sm-3">
                <p class="form-control-static">{{parent.kindergarten.name}}</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">家庭住址</label>

              <div class="col-sm-3">
                <p class="form-control-static">{{parent.child.address}}</p>
              </div>

              <label for="child-hukou" class="col-sm-2 control-label">户口</label>

              <div class="col-sm-3">
                <p class="form-control-static">{{parent.child.hukou}}</p>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>

