<div class="newsletters" ng-controller="BulletinManageCtrl as bulletin">
<div class="row">
  <ul class="list-group col-xs-11">
    <li class="list-group-item read-{{news.read}}" ng-repeat="news in bulletin.newsletters">
      <h4 class="list-group-item-heading">{{news.title}}</h4>

      <div class="btn-group">
        <button class="btn btn-primary" ng-show="!news.published">发布</button>
        <button class="btn btn-warning">编辑</button>
        <button class="btn btn-danger">删除</button>
      </div>
      <a ng-href="#/kindergarten/{{bulletin.kindergarten.name}}/news/{{news.id}}">
        <p class="list-group-item-text">{{news.content}}</p>
      </a>
      <span class="published">已发布</span>
      <span class="read-flag">阅读次数：{{news.readCount}}</span>
      <span class="issue-date pull-right">于{{news.issueDate | date:'yyyy年MM月dd日'}}发布</span>
    </li>
  </ul>
  <button class="btn btn-primary col-xs-1">添加</button>
</div>
</div>
