<div class="panel panel-default">
  <div class="panel-heading">
    <div class="btn-group">
      <button class="btn btn-warning" ng-show="!isEditing" ng-click="toggleEditing($event)">编辑</button>
      <button class="btn btn-primary" ng-show="isEditing" ng-disabled="schoolIntro.$invalid" ng-click="toggleEditing($event)">更新</button>
    </div>
    <h4>{{school.name}}</h4>
    <span class="issue-date">于{{school.timestamp | date:'yyyy年MM月dd日 HH:mm:ss'}}发布</span>
  </div>
  <div class="panel-body">
    <form name="schoolIntro">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="school-name" class="control-label">学校名称</label>

        <input id="school-name" ng-model="school.name" ng-disabled="!isEditing"
               class="editing-title form-control" required maxlength="8"/>
      </div>

      <div class="form-group">
        <label for="school-phone" class="control-label">学校联系电话</label>

        <input id="school-phone" ng-model="school.phone" ng-disabled="!isEditing"
               class="editing-title form-control" required/>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <div class="logo-container">
          <img class="school-logo" ng-src="{{school.school_logo_url}}"
               alt="Logo"/>
        </div>
      </div>

      <div class="form-group">
        <label for="school-pic" class="col-sm-4 control-label">学校Logo</label>

        <div class="col-sm-8">
          <input type="file" id="school-pic" fileupload="pic" ng-disabled="!isEditing"/>
          <button class="btn btn-success btn-xs" ng-disabled="pic === undefined || pic.size > 200000" ng-click="uploadPic(pic)">
            上传
          </button>
          <span ng-class="{error : pic.size > 200000}" class="help-block">图片大小请不要超过200k</span>
        </div>
      </div>
    </div>
    <div>
      <div class="form-group">
        <label for="school-desc" class="col-sm-4 control-label">学校简介</label>

        <textarea id="school-desc" ng-model="school.desc" ng-disabled="!isEditing" class="editing-content" required/>
      </div>
    </div>
    </form>
    <div class="panel-footer">
      <span class="issue-date">于{{school.timestamp | date:'yyyy年MM月dd日 HH:mm:ss'}}发布</span>
    </div>
  </div>
</div>