<div class="main-frame" ng-controller="KgManageCtrl as kg">
  <h2>{{kg.kindergarten.desc}} 后台管理</h2>

  <h3>{{kg.adminUser.name}}</h3>

  <div class="row modules-list-container">
    <ul class="nav nav-tabs modules-list actions">
      <li class="action" ng-class="{active : kg.isSelected('bulletin')}">
        <a ng-href="#/kindergarten/{{kg.kindergarten.name}}/bulletin" class="btn btn-success">
          园内公告设置
        </a>
      </li>
      <li class="action" ng-class="{active : kg.isSelected('parents')}">
        <a ng-href="#/kindergarten/{{kg.kindergarten.name}}/parents" class="btn btn-success">
          家长联系方式管理
        </a>
      </li>
      <li class="action" ng-class="{active : kg.isSelected('swipingcard')}">
        <a ng-href="#/kindergarten/{{kg.kindergarten.name}}/swipingcard" class="btn btn-warning">
          刷卡通知测试
        </a>
      </li>
      <li class="action">
        <a ng-href="#/kindergarten/{{kg.kindergarten.name}}/class-bulletin" class="btn btn-success">
          班级通知设置
        </a>
      </li>
      <li class="action">
        <a ng-href="#/kindergarten/{{kg.kindergarten.name}}/cookbook" class="btn btn-success">
          每周食谱设置
        </a>
      </li>
      <li class="action">
        <a ng-href="#/kindergarten/{{kg.kindergarten.name}}/learning" class="btn btn-success">
          学习内容设置
        </a>
      </li>
      <li class="action">
        <a ng-href="#/kindergarten/{{kg.kindergarten.name}}/growing" class="btn btn-success">
          成长档案设置
        </a>
      </li>
      <li class="action">
        <a ng-href="#/kindergarten/{{kg.kindergarten.name}}/baby-status" class="btn btn-success">
          每日育情设置
        </a>
      </li>


    </ul>

  </div>
  <div class="module-view" ui-view></div>
</div>