<div class="main-frame" ng-controller="KgManageCtrl as kg">
  <h2>{{kg.kindergarten.school_info.name}} 后台管理系统</h2>

  <h3>{{kg.adminUser.name}}</h3>

  <div class="row modules-list-container">
    <ul class="nav nav-tabs modules-list actions">
      <li class="action" ng-class="{active : kg.isSelected('bulletin')}">
        <a ng-href="#/kindergarten/{{kg.kindergarten.school_id}}/bulletin" class="btn btn-success">
          园内公告设置
        </a>
      </li>
      <li class="action" ng-class="{active : kg.isSelected('parents')}">
        <a ng-href="#/kindergarten/{{kg.kindergarten.school_id}}/parents/list" class="btn btn-success">
          家长联系方式管理
        </a>
      </li>
      <li class="action" ng-class="{active : kg.isSelected('swipingcard')}">
        <a ng-href="#/kindergarten/{{kg.kindergarten.school_id}}/swipingcard" class="btn btn-warning">
          刷卡通知测试
        </a>
      </li>
      <li class="action" ng-class="{active : kg.isSelected('intro')}">
        <a ng-href="#/kindergarten/{{kg.kindergarten.school_id}}/intro" class="btn btn-success">
          学校简介设置
        </a>
      </li>
      <li class="action" ng-class="{active : kg.isSelected('cookbook')}">
        <a ng-href="#/kindergarten/{{kg.kindergarten.school_id}}/cookbook" class="btn btn-success">
          每周食谱设置
        </a>
      </li>
      <li class="action">
        <a ng-href="#/kindergarten/{{kg.kindergarten.school_id}}/class-bulletin" class="btn btn-success">
          班级通知设置
        </a>
      </li>
      <li class="action">
        <a ng-href="#/kindergarten/{{kg.kindergarten.school_id}}/learning" class="btn btn-success">
          学习内容设置
        </a>
      </li>
      <li class="action">
        <a ng-href="#/kindergarten/{{kg.kindergarten.school_id}}/growing" class="btn btn-success">
          成长档案设置
        </a>
      </li>
      <li class="action">
        <a ng-href="#/kindergarten/{{kg.kindergarten.school_id}}/baby-status" class="btn btn-success">
          每日育情设置
        </a>
      </li>
    </ul>

  </div>
  <div class="module-view" ui-view></div>
</div>