<div class="panel panel-default">
  <div class="panel-heading">
    <div class="btn-group">
      <button class="btn btn-warning" ng-click="startEditing($event) && editTarget.focus()">编辑</button>
      <button class="btn btn-danger" ng-confirm-click="deleteMe($event)" ng-confirm-msg="你确定要删除吗?">删除</button>
      <button class="btn btn-primary" ng-show="!news.published" ng-click="publish(news)">发布</button>
      <button class="btn btn-info" ng-show="news.published" ng-click="hidden(news)">隐藏</button>
    </div>
    <h4 ng-click="startEditingTitle($event) && editTitle.focus()" class="news-heading" ng-show="!editingTitle">{{news.title}}</h4>
    <input ng-model="news.title" ng-show="editingTitle" class="editing-title form-control" ng-blur="saveTitle($event)" x-ng-target="editTitle" ng-maxlength="15"/>
  </div>
  <div class="panel-body">
    <p ng-click="startEditing($event) && editTarget.focus()" class="news-content" ng-show="!showEditBox">{{news.content}}</p>
    <textarea ng-model="news.content" ng-show="showEditBox" class="editing-content" ng-blur="save($event)" x-ng-target="editTarget" ng-maxlength="500" />
  </div>
  <div class="panel-footer">
    <span class="issue-date">于{{news.issueDate | date:'yyyy年MM月dd日 HH:mm:ss'}}发布</span>
  </div>
</div>