<div class="panel panel-default">
  <div class="panel-heading">管理家长联系电话列表</div>

  <div class="panel-body">
    <span>检索：</span>
    <input ng-model="searchText"/>
    <span>输入电话号码，家长姓名等进行过滤</span>
    <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal">添加</button>
  </div>

  <!-- Table -->
  <table class="table table-hover table-condensed">
    <thead>
    <tr class="row">
      <th class=".col-xs-1">#</th>
      <th class=".col-xs-4">电话号码</th>
      <th class=".col-xs-3">家长姓名</th>
      <th class=".col-xs-3">小孩姓名</th>
      <th class=".col-xs-2">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="parent in parents | filter: searchText" class="row" tooltip-placement="top" tooltip="单击开始编辑">
      <td class=".col-xs-1">{{parent.id}}</td>

      <td class=".col-xs-4" ng-if="editingId != parent.id" ng-click="startEditing(parent)">{{parent.phone | phone}}</td>
      <td class=".col-xs-3" ng-if="editingId != parent.id" ng-click="startEditing(parent)">{{parent.name}}</td>
      <td class=".col-xs-2" ng-if="editingId != parent.id" ng-click="startEditing(parent)">{{parent.child}}</td>

      <td class=".col-xs-4" ng-if="editingId == parent.id"><input type="text" ng-model="parent.phone"
                                                                  ui-mask="{{'999-9999-9999'}}"
                                                                  class="editing-field form-control"/></td>
      <td class=".col-xs-3" ng-if="editingId == parent.id"><input ng-model="parent.name"
                                                                  class="editing-field form-control"/></td>
      <td class=".col-xs-2" ng-if="editingId == parent.id"><input ng-model="parent.child"
                                                                  class="editing-field form-control"/></td>
      <td class=".col-xs-2">
        <button class="btn btn-xs btn-success" ng-if="editingId == parent.id" ng-click="save(parent)">保存</button>
        <button class="btn btn-xs btn-info" ng-if="editingId == parent.id" ng-click="cancelEditing($event)">取消</button>
        <button class="btn btn-xs btn-warning" ng-if="editingId != parent.id" ng-click="startEditing(parent)">编辑
        </button>
        <button class="btn btn-xs btn-danger" ng-if="editingId != parent.id" ng-confirm-msg="你确定要删除吗?"
                ng-confirm-click="delete(parent)">删除
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
       ng-controller="AddParentCtrl">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">添加家长联系方式</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="parent-phone" class="col-sm-2 control-label">电话号码</label>

              <div class="col-sm-4">
                <input id="parent-phone" type="text" ng-model="parent.phone"
                       ui-mask="{{'999-9999-9999'}}"
                       class="editing-field form-control"/>
              </div>
              <label for="parent-name" class="col-sm-2 control-label">家长姓名</label>

              <div class="col-sm-4">
                <input id="parent-name" ng-model="parent.name"
                       class="editing-field form-control"/>
              </div>
            </div>
            <div class="form-group">
              <label for="parent-gender" class="col-sm-2 control-label">性别</label>

              <div class="col-sm-4">
                <div class="btn-group" ng-model="parent.gender" bs-buttons-radio>
                  <button type="button" class="btn btn-default" value="0">男</button>
                  <button type="button" class="btn btn-default" value="1">女</button>
                </div>
              </div>
              <label for="parent-company" class="col-sm-2 control-label">公司</label>

              <div class="col-sm-4">
                <input id="parent-company" ng-model="parent.company"
                       class="editing-field form-control"/>
              </div>


            </div>
            <div class="form-group">
              <label for="parent-pic" class="col-sm-2 control-label">上传头像</label>

              <div class="col-sm-4">
                <input id="parent-pic" ng-model="parent.pic"
                       class="editing-field form-control"/>
              </div>

              <label for="parent-birthday" class="col-sm-2 control-label">生日</label>

              <div class="col-sm-4">
                <div class="control-group input-append">
                  <input type="text" ng-model="parent.birthday" data-date="en" data-date-format="dd/mm/yyyy" bs-datepicker>
                  <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelEditing($event)">Close
          </button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save(parent)">Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

