<div class="panel panel-default">
  <div class="panel-heading">管理家长联系电话列表</div>

  <div class="panel-body">
    <span>检索：</span>
    <input ng-model="searchText" />
    <span>输入电话号码，家长姓名等进行过滤</span>
    <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal">添加</button>
  </div>

  <!-- Table -->
  <table class="table table-hover table-condensed">
    <thead>
    <tr class="row">
      <th class=".col-xs-1">#</th>
      <th class=".col-xs-4">电话号码</th>
      <th class=".col-xs-3">家长姓名</th>
      <th class=".col-xs-3">小孩姓名</th>
      <th class=".col-xs-2">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="parent in parents | filter: searchText" class="row" tooltip-placement="top" tooltip="单击开始编辑">
      <td class=".col-xs-1">{{parent.id}}</td>

      <td class=".col-xs-4" ng-if="editingId != parent.id" ng-click="startEditing(parent)">{{parent.phone | phone}}</td>
      <td class=".col-xs-3" ng-if="editingId != parent.id" ng-click="startEditing(parent)">{{parent.name}}</td>
      <td class=".col-xs-2" ng-if="editingId != parent.id" ng-click="startEditing(parent)">{{parent.child}}</td>

      <td class=".col-xs-4" ng-if="editingId == parent.id"><input type="text" ng-model="parent.phone"
                                                                  ui-mask="{{'999-9999-9999'}}"
                                                                  class="editing-field form-control"/></td>
      <td class=".col-xs-3" ng-if="editingId == parent.id"><input ng-model="parent.name"
                                                                  class="editing-field form-control"/></td>
      <td class=".col-xs-2" ng-if="editingId == parent.id"><input ng-model="parent.child"
                                                                  class="editing-field form-control"/></td>
      <td class=".col-xs-2">
        <button class="btn btn-xs btn-success" ng-if="editingId == parent.id" ng-click="save(parent)">保存</button>
        <button class="btn btn-xs btn-info" ng-if="editingId == parent.id" ng-click="cancelEditing($event)">取消</button>
        <button class="btn btn-xs btn-warning" ng-if="editingId != parent.id" ng-click="startEditing(parent)">编辑
        </button>
        <button class="btn btn-xs btn-danger" ng-if="editingId != parent.id" ng-confirm-msg="你确定要删除吗?"
                ng-confirm-click="delete(parent)">删除
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
       ng-controller="AddParentCtrl">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">添加家长联系方式</h4>
        </div>
        <div class="modal-body">
          <label for="parent-phone">电话号码</label>
          <input id="parent-phone" type="text" ng-model="parent.phone"
                 ui-mask="{{'999-9999-9999'}}"
                 class="editing-field form-control"/>
          <label for="parent-name">家长姓名</label>
          <input id="parent-name" ng-model="parent.name"
                 class="editing-field form-control"/>
          <label for="parent-child">宝宝姓名</label>
          <input id="parent-child" ng-model="parent.child"
                 class="editing-field form-control"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelEditing($event)">Close
          </button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save(parent)">Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

