<div class="main-frame" ng-controller="KindergartenCtrl as kg">
  <h2>{{kg.kindergarten.desc}}</h2>

  <h3>{{kg.user.name}}</h3>

  <div class="row modules-list-container">
    <ul class="nav nav-tabs modules-list actions">
      <li class="action" ng-class="{active : kg.isSelected('bulletin')}">
        <a ng-href="#/kindergarten/{{kg.kindergarten.school_id}}/bulletin" class="btn btn-success">
          园内公告
        </a>
      </li>
      <li class="action">
        <a ng-href="#/kindergarten/{{kg.kindergarten.school_id}}/class-bulletin" class="btn btn-success">
          班级通知
        </a>
      </li>
      <li class="action">
        <a ng-href="#/kindergarten/{{kg.kindergarten.school_id}}/cookbook" class="btn btn-success">
          每周食谱
        </a>
      </li>
      <li class="action">
        <a ng-href="#/kindergarten/{{kg.kindergarten.school_id}}/learning" class="btn btn-success">
          学习内容
        </a>
      </li>
      <li class="action">
        <a ng-href="#/kindergarten/{{kg.kindergarten.school_id}}/growing" class="btn btn-success">
          成长档案
        </a>
      </li>
      <li class="action">
        <a ng-href="#/kindergarten/{{kg.kindergarten.school_id}}/baby-status" class="btn btn-success">
          每日育情
        </a>
      </li>
      <li class="action">
        <a ng-href="#/kindergarten/{{kg.kindergarten.school_id}}/take-n-drop" class="btn btn-success">
          接送信息
        </a>
      </li>

    </ul>

  </div>
  <div class="module-view" ui-view></div>
</div>