.editing-content {
  width: 100%;
  height: 300px;
}

.editing-title {
  width: 100%;
  margin-top: 5px;
}

.adding-button {
  margin: 10px 10px;
}

.datepicker-input {
  width: 71%;
}

.datepicker-button {
  margin: -34px 18px 0 0;
  float: right;
}

.portrait-container {
  .portrait {
    max-height: 220px;
    max-width: 180px;
    vertical-align: middle;
  }
}

.select-button.active {
  background-color: #47a447;
}
