.editing-content {
  width: 100%;
  height: 300px;
}

.editing-title {
  width: 100%;
  margin-top: 5px;
}

.adding-button {
  margin: 10px 10px;
}

.datepicker-input {
  width: 79%;
}

.datepicker-button {
  margin: -34px 0 0 0;
  float: right;
}

.portrait-container {
  margin-left: 100px;
  vertical-align: middle;
  .portrait {
    max-height: 220px;
    max-width: 180px;
  }
  .portrait-preview {
    max-height: 110px;
    max-width: 90px;
  }
}

.select-button.active {
  background-color: #47a447;
}

.creating-summary {
  .summary-title {
    margin-top: -10px;
  }
  .portrait-container {
    margin-top: -25px;
    margin-left: 333px;
  }
}

.logo-container {
  margin-left: -10px;
  vertical-align: middle;
  .school-logo {
    max-height: 300px;
    max-width: 300px;
  }
}

.class-select {
  max-width: 200px;
  margin-left: 4px;
}

.help-block.error,
.error-field {
  color: red;
}

.issue-date {
  color: blue;
}

.loading {
  width: 100px;
  height: 100px;
  background-image: url('../../images/google-loading-icon.gif');
  background-size: 100px 100px;
  margin-left: 200px;
}