.module-view {
  margin-top: 30px;
}

.newsletters {
  max-width: 700px;
  .read-true p {
    color: gainsboro;
  }
  .read-false p {
    color: blue;
  }
  .read-flag {
    margin-left: 150px;
  }
}

.panel {
  max-width: 700px;
}

.main-frame {
  margin-left: 30px;
  .btn-primary {
    background-color: rgb(5, 104, 244);
  }
  .btn-danger {
    background-color: rgb(214, 73, 40);
  }
  .btn-warning {
    background-color: rgb(254, 185, 0);
  }
  .btn-success {
    background-color: rgb(28, 150, 75);
  }
}

.loading {
  width: 100px;
  height: 100px;
  background-image: url('../../images/google-loading-icon.gif');
  background-size: 100px 100px;
  margin-left: 200px;
}

.product-logo-container {
  float: left;
  width: 240px;
  height: 124px;
  .product-logo {
    width: 179px;
    height: 124px;
    background-image: url('../../images/logo.png');
    background-size: 179px 124px;
    margin-left: 14px;
    position: absolute;
    z-index: 20;
  }
  .rainbow-logo {
    width: 163px;
    height: 100px;
    background: url('../../images/rainbow2.png');
    background-repeat:no-repeat;
    background-position:0 0;
    background-size: 146px 74px;
    margin-left: 90px;
    position: absolute;
    z-index: 10;
  }

}

.header {
  width: 970px;
  height: 124px;
  margin-left: -15px;
  .title {
    float: left;
    width: 700px;
    height: 124px;
    color: rgb(103, 77, 52);
    margin-left: 20px;
  }
}
