@import "btnUpload.less";

.upload-form,
.old-version,
.schools-list,
.schools-search-panel {
  width: 750px;
}

.long-url {
  overflow-wrap: break-word;
}

.button-group {
  margin-top: 10px;
  position: relative;
}

.version-summary {
  min-height: 100px;
}

.loading {
  width: 100px;
  height: 100px;
  background-image: url('../../images/google-loading-icon.gif');
  background-size: 100px 100px;
  position: absolute;
  left: 52px;
  bottom: 100px
}

