@scripts = {
    <script src="@routes.Assets.at("scripts/admin.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("scripts/services/kgNewsService.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/services/adminNewsService.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/services/ParentService.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/services/GroupMessage.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/services/fileUploadService.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/services/ChildService.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/services/SchoolService.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/services/CookbookService.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/services/ScheduleService.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/services/CardService.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/services/RelationshipService.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/services/ConversationService.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("scripts/controllers/admin/KindergartenManageController.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/controllers/admin/BulletinManageController.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/controllers/admin/NewsEditController.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/controllers/admin/ParentsController.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/controllers/admin/ChildrenController.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/controllers/admin/SchoolIntroController.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/controllers/admin/CookbookController.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/controllers/admin/ScheduleController.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/controllers/admin/RelationshipController.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/controllers/admin/ConversationController.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/controllers/WipController.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("scripts/directives/ngTarget.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/directives/ngConfirmClick.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/directives/ngBkFocus.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("scripts/filters/phoneFilter.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/vendor/angularjs/mask.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/vendor/bootstrap-datepicker.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/vendor/angularjs/angular-animate.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/vendor/angularjs/angular-sanitize.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/vendor/angularjs/angular-strap.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/vendor/angularjs/angular-strap.tpl.min.js")" type="text/javascript"></script>
}
@styling = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/admin.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/angular-motion.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-additions.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/libraries.min.css")">
}
@main("kulebaoAdmin")(scripts)(styling) {
    <div class="main-view" ui-view></div>
}
