@scripts = {
    <script src="@routes.Assets.at("scripts/admin.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("scripts/services/NewsService.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("scripts/controllers/admin/KindergartenManageController.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/controllers/admin/BulletinManageController.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/controllers/admin/NewsEditController.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/controllers/WipController.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/directives/ngTarget.js")" type="text/javascript"></script>
}
@main("admin")(scripts) {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/admin.css")">
    <div ui-view></div>
}
