@scripts = {
    <script src="@routes.Assets.at("scripts/main.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("scripts/services/kgNewsService.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("scripts/controllers/KindergartenController.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/controllers/BulletinController.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/controllers/NewsController.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/controllers/WipController.js")" type="text/javascript"></script>
}
@styling = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
}
@main("kulebaoApp")(scripts)(styling) {
    <div ui-view></div>
}

