@scripts = {
    <script src="@routes.Assets.at("scripts/services/NewsService.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("scripts/main.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/controllers/KindergartenController.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/controllers/BulletinController.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/controllers/NewsController.js")" type="text/javascript"></script>
}
@main("app")(scripts) {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <div ui-view></div>
}

