@(appName: String)(scripts: Html)(content: Html)

<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en" ng-app="@appName"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" ng-app="@appName"> <!--<![endif]-->

    <head>
        <meta name="baidu-tc-cerfication" content="71cb41250638811d563be83804f5e8c6" />
        <title>Welcome to Kulebao</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/common.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        @content
    <script src="@routes.Assets.at("javascripts/vendor/jquery-1.10.2.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/vendor/angularjs/angular.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/vendor/angularjs/angular-ui-router.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/vendor/angularjs/angular-resource.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/vendor/angularjs/angular-route.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/vendor/underscore-min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/vendor/ui-bootstrap-tpls-0.7.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/vendor/bootstrap.min.js")" type="text/javascript"></script>

    @scripts
    </body>
</html>
