@scripts = {
    <script src="@routes.Assets.at("scripts/op.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("scripts/controllers/op/OperationController.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/controllers/op/AppController.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("scripts/directives/ngTarget.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/directives/ngConfirmClick.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/directives/ngBkFocus.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/filters/phoneFilter.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/services/fileUploadService.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/services/AppPackageService.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/vendor/angularjs/mask.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/vendor/bootstrap-datepicker.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/vendor/angularjs/angular-strap.js")" type="text/javascript"></script>
}
@styling = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/op.css")">
}
@main("kulebaoOp")(scripts)(styling) {

    <div ui-view></div>
}
